.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper .hs-rss-featured-image {
    width: 100%;
}
.cnt-menu-mobile-main.has-sticky.sticky {
    transform: translateY(10px); 
}

#menuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
  }
  #menuBar.scrolled {
    background: #004080;
    transform: translateY(0);
  }